<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @danger_scale.value %>
</p>

<%= link_to 'Edit', edit_danger_scale_path(@danger_scale) %> |
<%= link_to 'Back', danger_scales_path %>
